# Kaggle_Health_Insurance_Cost_Prediction

### Importing the libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
health = pd.read_csv('insurance.csv')

### columns
* age
* sex
* bmi = body mass index
* children
* smoker
* region
* charges

### 1338 lines

In [3]:
health.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
health.pivot_table(index='smoker',aggfunc=np.mean)

              age        bmi       charges  children
smoker
no      39.385338  30.651795   8434.268298  1.090226
yes     38.514599  30.708449  32050.231832  1.113139

In [5]:
health.pivot_table(index='region',aggfunc=np.mean)

                 age        bmi       charges  children
region
northeast  39.268519  29.173503  13406.384516  1.046296
northwest  39.196923  29.199785  12417.575374  1.147692
southeast  38.939560  33.355989  14735.411438  1.049451
southwest  39.455385  30.596615  12346.937377  1.141538

In [6]:
health.pivot_table(index=['region','smoker'],aggfunc=np.mean)

                        age        bmi       charges  children
region    smoker
northeast no      39.536965  29.332082   9165.531672  1.046693
          yes     38.238806  28.565224  29673.536473  1.044776
northwest no      39.168539  29.212678   8556.463715  1.119850
          yes     39.327586  29.140431  30192.003182  1.275862
southeast no      38.673993  33.442418   8032.216309  1.065934
          yes     39.736264  33.096703  34844.996824  1.000000
southwest no      40.183521  30.507865   8019.284513  1.127341
          yes     36.103448  31.005172  32269.063494  1.206897

#### The variable that have the most strong correlation with charges is age. So the age of a person is the factor that most influence on the charges. After that, bmi is the second.

In [7]:
health.corr()

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

#### Export the data cleaned as an excel file

In [55]:
health.to_excel('insurance_cleaned.xlsx').